doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/start_race_menu.css")
        <script src="https://kit.fontawesome.com/dfb5f0fb11.js" crossorigin="anonymous"></script>
        title #{title} | Sim Racing
    body 
        // MAIN TITLE
        .title_container 
            .back_button
                a(href='/'): i.fas.fa-arrow-left
            h1.title Start race! 

        // MAIN CONTENT
        .content_container 
            h2.subtitle Select participants:

            //CARDS
            .cards_container 
            
        button.race_btn: p Next

    script(src="./util/displayCards.js") 